.custom-form {
  background-color: white;
  width: 50%;
  margin: 5% 25%;
  border: 2px solid black;
  padding: 5%;

}

.custom-form h2 {
  text-align: center;
}

.border {
  background-color: rgba(72, 99, 156, .90);
  // border: 2px solid black;
  height: 80%;
  width: 70%;
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;

}

.profile-page {
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;

}

.car-index {
  background-color: #4D6A6D;
  margin-top: 17%;
  border-radius: 10px;
  padding-bottom: 2%;
  padding-top: 2%;

}

.car-tile {
  background-color: #798478;
  border: 2px solid black;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-radius: 10px;

}

.button1 {
  background-color: #054A91;
  border-radius: 10px;
  margin-right: 15%;
  margin-top: 7%;

}
