.custom-form {
  background-color: #DEE7E7;
  width: 50%;
  margin: 5% 25%;
  border: 2px solid black;
  padding: 1%;
}

.custom-form h2 {
  font-family: 'Cabin', sans-serif;
  text-align: center;
}

.border {
  font-family: 'Cabin', sans-serif;
  background-color: rgba(72, 99, 156, .90);
  height: 80%;
  width: 90%;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
}

.profile-page {
  font-family: 'Cabin', sans-serif;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
}

.car-index {
  font-family: 'Cabin', sans-serif;
  background-color: #313E50;
  margin-top: 200px;
  margin-bottom: 200px;
  border-radius: 10px;
  padding-bottom: 2%;
  padding-top: 2%;
  box-shadow: 2px 2px 2px black;
}

.car-index h3 {
  font-family: 'Cabin', sans-serif;
  color: #DEE7E7;
}

.car-tile {
  font-family: 'Cabin', sans-serif;
  background-color: #798478;
  border: 2px solid black;
  height: auto;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  padding-bottom: 2em;
  border-radius: 10px;

}

.car-tile h1 {
  color: #911608;
}

.font h3 {
  font-family: 'Cabin', sans-serif;
  color: #DEE7E7;
}

.font h1 {
  font-family: 'Cabin', sans-serif;
  color: #DBCBD8;
}

.font p {
  font-family: 'Cabin', sans-serif;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.top-bar h1 {
  font-family: 'Cabin', sans-serif;
  color: #DEE7E7;
}

.flash-notice {
  font-family: 'Cabin', sans-serif;
  background-color: #054A91;
  color: #DEE7E7;
}

.flash-alert {
  font-family: 'Cabin', sans-serif;
  background-color: #054A91;
  color: #DEE7E7;
}
